<!DOCTYPE html>
<html lang="en">

<body>
    <div class="menu" id="menu">
        <img class="menu_logo" src="img/joinlogo2.png">
        <div class="dashboard">
            <a href="summary.html">
                <div class="summary">
                    <div class="menu_img">
                        <img src="img/summary.png">
                    </div>
                    <div class="menu_text">
                        <span>Summary</span>
                    </div>
                </div>
            </a>
            <a href="board.html">
                <div class="board">
                    <div class="menu_img">
                        <img src="img/board.png">
                    </div>
                    <div class="menu_text">
                        <span>Board</span>
                    </div>
                </div>
            </a>
            <a href="addtask.html">
                <div class="addtask">
                    <div class="menu_img">
                        <img src="img/addtask.png">
                    </div>
                    <div class="menu_text">
                        <span>Add Task</span>
                    </div>
                </div>
            </a>
            <a href="contacts.html">
                <div class="contacts">
                    <div class="menu_img">
                        <img src="img/contacts.png">
                    </div>
                    <div class="menu_text">
                        <span>Contacts</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="legal_notice">
            <div class="legalnotice">
                <div class="menu_img">
                    <img src="img/attencion.png">
                </div>
                <div class="menu_text">
                    <a href="legalnotice.html">Legal notice</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>