html {
    background-color: #F6F7F8;
}

.dFlex {
    display: flex;
}

.dNone {
    display: none;
}

.hidden {
    overflow: hidden;
}

.board_content_parent {
    position: absolute;
    top: 80px;
    left: 232px;
    bottom: 0;
    right: 0;
}

.board_content {
    position: relative;
    width: 100%;
    background-color: #F6F7F8;
    margin-top: 82px;
    padding: 0 50px;
}

.board_headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.board_headline h1 {
    font-size: 61px;
    font-weight: 700;
    color: black;
}

.board_searchbar {
    display: flex;
    align-items: center;
    height: 51px;
    background-color: white;
    border-radius: 10px;
    margin-right: 35px;
    border: 1px solid #A8A8A8;
}

.board_searchbar input {
    outline: none;
    border: none;
    border-right: 1px solid #D1D1D1;
    margin-left: 21px;
    font-size: 16px;
}

.board_searchbar img {
    margin-right: 15px;
    margin-left: 15px;
}

.board_add_task {
    display: flex;
    align-items: center;
    background-color: #2A3647;
    cursor: pointer;
    border-radius: 10px;
}

.board_add_task button {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 21px;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
}

.board_add_task img {
    padding-right: 10px;
}

.board_add_task:hover {
    background-color: #29ABE2;
    transition: ease-in-out 100ms;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.filter_container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    height: 100vh;
    background-color: #F6F7F8;
}

.board_overview {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    position: relative;
}

.board_column {
    width: 250px;
}

.board_column_content {
    /* max-height: calc(100vh - 89px - 82px - 82px - 100px - 70px); */
    overflow: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    height: 100%;
}

.board_column_content::-webkit-scrollbar {
    display: none;
}

.board_column_headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 21px;
    font-weight: 700;
    color: #2A3647;
    margin-bottom: 35px;
}

.board_column img {
    cursor: pointer;
}

.task_card {
    display: flex;
    flex-direction: column;
    min-height: 205px;
    max-width: 250px;
    background-color: white;
    border-radius: 30px;
    border: solid 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    padding: 18px 20px;
    margin-bottom: 35px;
    cursor: pointer;
}

.card_category {
    font-size: 16px;
    color: white;
    padding: 5px 25px;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: orange;
    width: fit-content;
}

.card_headline {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}

.card_description {
    font-size: 16px;
    color: #A8A8A8;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 20px;
}

.progress {
    height: 8px !important;
    width: 60%;
}

.board_progress_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.board_progress {
    font-size: 12px;
}

.assinged_contacts_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    margin-top: 23px;
}

.urgency_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
}

.initials_contacts {
    position: relative;
    height: 35px;
}

.assinged_contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background-color: #29ABE2;
    border: 1px solid white;
    color: white;
}

#assinged_contacts1 {
    left: 0;
}

#assinged_contacts2 {
    left: 30px;
}

#assinged_contacts3 {
    left: 60px;
}

#assinged_contacts4 {
    left: 90px;
}

#assinged_contacts5, #assinged_contacts6, #assinged_contacts7, #assinged_contacts8, #assinged_contacts9, #assinged_contacts10, #assinged_contacts11, #assinged_contacts12 {
    left: 90px;
}

.div_border {
    height: 205px;
    width: 250px;
    border-radius: 30px;
    border: 1px dashed lightgrey;
}

.tool_description {
    display: none;
}

.pop_up_area {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

.new-task {
    animation: wiggle 1.5s linear;
}

.delete_task {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete_task  hr{
    width: 70%;
    color: red;
}

.delete_task span {
    color: red;
    cursor: pointer;
}

.dragcard_popup, .task_popup_window_2 {
    height: 700px !important;
    overflow: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    height: 100%;
}

.dragcard_popup::-webkit-scrollbar, .task_popup_window_2::-webkit-scrollbar {
    display: none;
}


/* ---------------------- Board Start ---------------------- */

@media (max-width: 1350px) {
    .board_column {
        width: 22%;
    }
    .board_column_headline {
        font-size: 17px;
    }
}

@media (max-width: 1200px) {
    .board_column_headline {
        font-size: 13px;
    }
    .board_column img {
        width: 20px;
    }
    .card_category {
        padding: 5px 8px;
    }
    .board_progress {
        font-size: 9px;
    }
}

@media (max-width: 992px) {
    .board_content_parent {
        left: 0;
    }
    .board_content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tool_description {
        display: block;
        padding: 15px 50px;
        font-size: 16px;
    }
    .board_column {
        width: 24%;
    }
}

@media (max-width: 768px) {
    .board_searchbar {
        position: absolute;
        top: 90px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .board_add_task {
        width: 40px;
        height: 40px;
        justify-content: center;
    }
    .board_add_task button {
        display: none;
    }
    .board_add_task img {
        padding: 0;
        width: 20px;
    }
    .board_overview {
        flex-direction: column;
        margin-bottom: 80px;
    }
    .board_column {
        width: 100%;
    }
    .board_column img {
        width: 30px;
    }
    .board_headline {
        max-width: 345px;
    }
    .board_column_headline {
        font-size: 21px;
        max-width: 245px;
    }
}

@media (max-height: 768px) {
    .board_content {
        margin-top: 30px;
    }
    .board_overview {
        margin-top: 80px;
        height: calc(100vh - 50px - 81.2px - 30px - 89px);
    }
    .dragcard_popup, .task_popup_window_2 {
        height: 530px !important;
    }

    .headerdescription h1 {
        height: unset;
        font-size: 42px;
    }
}

@media (max-height: 600px) {
    .task_card {
        height: 200px;
        gap: 5px;
    }
    .card_category, .card_headline, .card_description, .assinged_contacts_row {
        margin: 0;
    }
    .card_description {
        font-size: 12px;
    }
    .card_headline {
        font-size: 14px;
    }
}

@media (max-width: 350px) {
    .tool_description {
        padding: 0 25px;
    }
    .board_content {
        padding: 0 25px;
    }
    .board_searchbar , .board_searchbar input {
        width: 100%;
    }
}